@import '../../../assets/styles/common.scss';

header {
    flex: none;
}

#github-header {

    & .logo-link {
        text-decoration: none;
    }

    & .title {
        font-weight: bold;
        margin-right: auto;
        color: black;
        text-decoration: none;
    }
}
