@import '../../../assets/styles/common.scss';

.repositories-table-container {
    & .user-name {
        color: $github-color-1;
    }

    & .btn.btn-primary {
        background-color: inherit;
        border-color: $github-color-1;

        &:active {
            background-color: $github-color-2;
        }
    }

    & thead {
        background-color: $background-color-2;
        color: $github-color-white;
    }

    & tbody {
        color: $github-color-white;
    }

    & label,
    .dataTables_info {
        color: $github-color-white;
    }

    & .page-item.active {
        .page-link {
            color: $github-color-white;
            background-color: $github-color-2;
            border-color: $github-color-2;
        }
    }
}