.user-profile {
    & .profile-picture {
        & img {
            width: 100%;
            height: auto;
        }
    }

    & .profile-details {
        display: flex;
        flex-direction: column;

        & .user-name {
            & h1 {
                margin-bottom: 0;
            }
        }

        & .username-email {
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            color: #666;
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

            & small {
                vertical-align: top;
            }
        }

        & .bio {
            font-weight: 500;
        }

        & .profile-buttons {
            margin-top: auto;
        }
    }

    & .user-numbers {
        display: flex;
        border-top: 2px solid #888;
        border-bottom: 2px solid #888;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-around;

        & .statistic-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;

            & .number {
                font-size: 4em;
            }

            & .caption {
                font-size: 1.5em;
            }
        }

        &.left-vertical-divider {
            border-left: 2px solid #888;
            padding-left: 6em;
        }

        &.right-vertical-divider {
            border-right: 2px solid #888;
            padding-right: 6em;
        }
    }
}